<header>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="#">Constructii SRL</a>

					<ul class="nav pull-right">
						<li class="active"><a href="#">Acasa</a></li>
						<li class="divider-vertical"></li>
						<li><a href="#">Despre noi</a></li>
						<li class="divider-vertical"></li>
						<li><a href="#">Contact</a></li>
						<li class="divider-vertical"></li>
						<li><a href="#">Lucrari</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>