<div class="slider">
	<div class="containter-fluid">
		<div id="heroSlider" class="carousel slide">
			<div class="carousel-inner">
				<div class="item active">
					<div class="hero-unit">
						<div class="row-fluid">
							<div class="span7 maketting-info">
								<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, nesciunt!</h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, dolorem, libero quod quaerat blanditiis numquam officia tenetur accusamus qui ea nihil consectetur beatae cum culpa repellat expedita itaque dolore vero.</p>
							</div>
							<div class="span5">
								<%= image_tag("img1.jpg", alt: "img1", class: "thumbnail") %>
							</div>
						</div>
					</div>
				</div>
			</div>
					<!-- <a class="left carousel-control" data-slide="prev" href="#heroSlider"><</a>
					<a class="right carousel-control" data-slide="next" href="#heroSlider">></a> -->
		</div>
	</div>
</div>