<div id="myCarousel" class="carousel slide">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	<!-- Carousel items -->
	<div class="carousel-inner">
		<div class="active item">
			<div class="item active">
				<%= image_tag("slider.jpg", alt: "img1") %>
			</div>
			<div class="carousel-caption">
				<h4>Lorem ipsum dolor sit amet.</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate provident laborum nobis. Illum, unde, consectetur, culpa doloribus possimus adipisci dolores distinctio incidunt ad error asperiores voluptatem vero non iste eius.</p>
			</div>			
		</div>
		<div class="item">
			<div class="item active">
				<%= image_tag("slider2.jpg", alt: "img1") %>
			</div>
			<div class="carousel-caption">
				<h4>Lorem ipsum dolor sit amet.</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate provident laborum nobis. Illum, unde, consectetur, culpa doloribus possimus adipisci dolores distinctio incidunt ad error asperiores voluptatem vero non iste eius.</p>
			</div>
		</div>
		<div class="item">
			<div class="item active">
				<%= image_tag("slider3.jpg", alt: "img1") %>
			</div>
			<div class="carousel-caption">
				<h4>Lorem ipsum dolor sit amet.</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate provident laborum nobis. Illum, unde, consectetur, culpa doloribus possimus adipisci dolores distinctio incidunt ad error asperiores voluptatem vero non iste eius.</p>
			</div>
		</div>
	</div>
	<!-- Carousel nav -->
	<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>



