<div class="row">
	<div class="span4">
		<ul class="media-grid">
			<% @images.each do |image| %>
			<li><a href="#"><%= image_tag "products1/#{image.split('/').last}", height: "90px", width: "90px" %></a></li>
			<% end %>
		</ul>
	</div>
</div>